[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
python-dotenv = "*"

[packages]
flask = "*"
flask-mysqldb = "*"
flask-bcrypt = "*"
pyjwt = "*"
moment = "*"
cloudinary = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
